# ens assegurem de poder fer els canvis
user=root

# assignem un rang d'ips durant una durada
dhcp-range=x1,30.40.1.50,30.40.1.80,255.255.255.0,5m
dhcp-range=x2,20.30.1.50,20.30.1.80,255.255.255.0,5m
dhcp-range=x3,10.20.1.50,10.20.1.80,255.255.255.0,5m
dhcp-option=option:router,30.40.1.1
dhcp-option=option:router,20.30.1.1
dhcp-option=option:router,10.20.1.1
# deshabilitar el servidor dns de dnsmasq
port=0
